<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeeUrself 2023</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.css"
          integrity="sha512-wCVOuVtxsXqrQK7tj9j4BvyfITQmpp7UE7mVilD7aieGLYFEIAa5UKTP1RapOf6dxQ9JIKAneakcyykWG4r4Ow=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js"
            integrity="sha512-LGiXf+jHGTHcIybSsOWO3I/in+OObCkcEsWIZ7IyhzfD6RzD5qDUw2CK+JveuI7zTSEcDG//bIOvOpAJW2BWsg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="static/jquery/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="static/chart.js"></script>

    <!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <link rel="stylesheet" href="static/heatmap/glanceyear.css">
    <script src="static/heatmap/jquery.glanceyear.js"></script>

    <script src="static/chartjs-plugin-datalabels.js"></script>
    <script src="static/bee.js"></script>


<body>
  <noscript>
    <h1>Please enable JavaScript for this website, ISTG, I am not collecting your data lmao,
      besides, you are literally looking at all the data collected on Telegram lmao</h1>
  </noscript>
<div class="bee" onClick="alert('Hey, back off!');" onmouseover="moveBeeFast();"></div>
<div id="fullpage">

    <div class="section" id="section0">

        <img src="static/bee.jpg" alt="Round Image" class="round-image">
        <h1>BeeUrself 2023 recap for 2020 Poopsman!</h1>
        <div class="header-content">
            <p>As we say goodbye to another incredible year, let's take a nostalgic flight through the hive of memories
                we've
                built together with <strong>BeeUrself</strong>! &#127744;&#128248;&#128103;</p>
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
                Scroll
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
            </a>
            </p>
        </div>
        <div class="background-image"></div>
    </div>
    <div class="section" id="section1">
            <div class="intro fade-in-paragraph">
                <h2>BeeUrself Top Posters of 2023 </h2>
                <p>&#127942; Drumroll, please! It's time to celebrate our stellar top shitposters who've made waves in the
                    2020
                    Poopsman community! &#127942;</p>
            </div>
            <div class="container">
                {% for place, poster, count in top_posters %}

                <div class="row fade-in-paragraph">
                    <div class="col" id="top-posters-{{ place }}">
                        <img src="static/avatars/{{ poster }}.jpg" alt="Avatar" class="avatar"
                             onerror="this.onerror=null; this.src='static/bee.jpg'">
                        {{ poster }} <!-- medal emoji --> {% if place > 0 and place < 4 %}&#12935{{ place }};{% endif %}
                    </div>

                    <div class="col" style="padding-bottom: 10px">
                        <div class="animated-gradient" id="animated-gradient-{{ poster }}" style="margin-top: 20px;">
                        </div>
                            {{ count }}
                    </div>

                </div>

                {% endfor %}

        </div>
    </div>
    <div class="section" id="section2">
        <div class="intro fade-in-paragraph">
            <h2>&#x270D;&#xFE0F; These people really loved captions! ❤️&#x270D;&#xFE0F; </h2>
        </div>
            <table>
                <thead class="fade-in-paragraph">
                <tr>
                    <th>#</th>
                    <th>Avatar</th>
                    <th>Nickname</th>
                    <th>Number of posts with a caption</th>
                </tr>
                </thead>
                <tbody>
                {% for place, poster, count in top_captions %}
                {% if count != 0 %}
                <tr class="fade-in-paragraph">
                    <td>{{ place }}</td>
                    <td>  <img src="static/avatars/{{ poster }}.jpg" alt="Avatar" class="avatar"
                             onerror="this.onerror=null;this.src='static/bee.jpg'"></td>
                    <td>{{ poster }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <p class="fade-in-paragraph">&#x270D;&#xFE0F; Didn't make the cut? Guess you need to describe your life more!
                &#x270D;&#xFE0F; </p>
        </div>
        <div class="section" id="section3">
            <div>
                <h1 class="fade-in-paragraph">&#x23F0; On Time or Late &#x1F55D; ?</h1>
                <p class="fade-in-paragraph">
                  <strong>{{ late_perc }}%</strong> of our BeeUrself pics were <strong style="color: #ff6384">posted late</strong>,
                    which means only {{ on_time_perc }}% were <strong style="color: #36a2eb">on time</strong>.
                </p>
                <p class="fade-in-paragraph">
                  Let's do better next year!
                </p>

                <canvas class="fade-in-paragraph" id="pieChartLatePosts"></canvas>
            </div>
        </div>
        <div class="section" id="section4">
          <div class="intro">
              <h1 style="text-align: center;">Activity over the months</h1>
              <p style="text-align: center;">In <strong>October</strong> we were Beeing Ourselves the most, with 126 total posts!</p>
          </div>
          <canvas id="barChartMonthly" style="width: 70vw; height: 50vh; display: block;""></canvas>
        </div>
        <div class="section" id="section5">
          <div class="intro">
            <h1>Let's see that heatmap 🔥</h1>
            <p>The highest number of people participating in a single day (including folks late by more than 24 hours) was {{ MAX_COUNT_OF_POSTS }}!
            <p>This has actually happened on <strong>{{ MAX_COUNT_ALL_DATES|length }} different days</strong>:</p>
            <ul>
              {% for date in MAX_COUNT_ALL_DATES %}
                <li>{{ date }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="glanceyear-content" id="glanceyear-heatmap">
          </div>
            <p id="postedThatDay">Click on any day to see what's been posted on that day!</p>

            <div class="day card-container" id="targetDay">
          
            </div>

        </div>
        <div class="section" id="section6">
          <div class="intro">
              <h1 style="text-align: center;">Activity over the months</h1>
              <p style="text-align: center;">In <strong>October</strong> we were Beeing Ourselves the most, with 126 total posts!</p>
          </div>
        </div>

    </div>

<!--</div>-->
</body>
</html>

<script>
    var myFullpage = new fullpage('#fullpage', {
        // Navigation
        menu: '#menu',
        lockAnchors: false,
        anchors: ['welcomePage', 'topPosters', 'topCaptions', 'lateOrOnTime', 'topMonths', 'yearHeatmap'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Welcome', 'Top posters', 'Top /caption users', 'On Time or Late?', 'Top active months'],
        showActiveTooltip: false,
        slidesNavigation: true,
        slidesNavPosition: 'bottom',

        // Scrolling
        css3: true,
        scrollingSpeed: 500,
        autoScrolling: true,
        fitToSection: true,
        fitToSectionDelay: 400,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        continuousVertical: false,
        continuousHorizontal: false,
        interlockedSlides: false,
        dragAndMove: true,
        offsetSections: false,
        resetSliders: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: true,
        scrollOverflowMacStyle: false,
        scrollOverflowReset: false,
        touchSensitivity: 15,
        bigSectionsDestination: null,

        // Design
        controlArrows: true,
        controlArrowsHTML: [
            '&uarr;',
            '&darr;'
        ],
        verticalCentered: true,
        sectionsColor: ['#ccc', 'rgb(23, 26, 28)', '#2B2E30', 'rgb(23, 26, 28)', '#2B2E30', '#2B2E30',],
        paddingTop: '3em',
        paddingBottom: '10px',
        fixedElements: '#header, .footer',

        // Custom selectors
        sectionSelector: '.section',
        slideSelector: '.slide',

        lazyLoading: true,
        observer: true,
        credits: { enabled: false, label: 'asdasd fullPage.js', position: 'right'},

        // Events

        afterLoad: function(origin, destination, direction, trigger) {
            var index = destination.index;
            console.log(destination.index);
            startFadeIn("section" + index);
        },

        onLeave: function(origin, destination, direction, trigger){
            var leavingSection = this;

        },
        onScrollOverflow: function(section, slide, position, direction){}
    });

    function startFadeIn(whichSection) {
      

        console.log("startFadeIn(", whichSection, ")");
        if(whichSection != "section0") 
        {
          var bee = document.querySelector('.bee');
            console.log("bee style = ", bee.style);
            
              if(bee.style.display == "") {
              // If we didn't show bee yet, let's do it now. 
              // We do this for any section that isn't section0 because one can come to the webpage with an anchor link!
              bee.style.display = 'block';
              bee.style.top = '50px';
            }
        }
       if(whichSection == "section1") {
            var percT = -1.0;
            {% for place, poster, count in top_posters %}
                var gradientBox = document.getElementById('animated-gradient-{{ poster }}');
                if(percT == -1) {
                    percT = {{ count }} / 100;
                }
                gradientBox.classList.add('animate');
                // 270/2.95/100
                var widthCalc = {{ count }} / percT;
                console.log("Mrdat {{ poster }} {{ count }} ", widthCalc, percT);
                gradientBox.style.width = widthCalc + '%';
            {% endfor %}
        } 

      // Fade in all elements that have the fade in class
      let paragraphs = $("#" + whichSection).find('.fade-in-paragraph');
      paragraphs.each(function(index) {
        let paragraph = $(this);
        setTimeout(function() {
          paragraph.addClass('fade-in');
        }, 100 * index);
      });
    }

    const ctxPie = document.getElementById('pieChartLatePosts');
    const ctx = document.getElementById('barChartMonthly');

    const darkModeColors = {
      backgroundColor: 'rgba(34, 34, 34, 0.8)',
      borderColor: 'rgba(255, 255, 255, 0.8)',
      pointBackgroundColor: 'rgba(255, 255, 255, 0.8)',
      gridLineColor: 'rgba(255, 255, 255, 0.1)',
      // Add more properties as needed for your specific chart elements
    };
    Chart.defaults.color = 'white';
    new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
          'November', 'December'],
          datasets: [
              {% for nick, items in GROUPED_BY_MONTHS.items() %}
              {              
                label: "{{ nick }}",
                borderWidth: 0,
                data: [
                  {% for month in items %}
                  {
                    x: '{{ month }}',
                    y: '{{ items[month]|length  }}',
                  },
                  {% endfor %}
                ],
              },
              {% endfor %}
                
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              stacked: true,
              grid: {
                  color: 'rgba(128, 128, 128, 0.5)'
              },
            },
            x: {
              stacked: true,
              grid: {
                  color: 'rgba(128, 128, 128, 0.5)'
              },
            }
          },
          plugins: {
            legend: {
                labels: {
                    color: "white",
                }
            }
          },
          responsive: true,
        },

        });

        var pieOptions = {
          tooltips: {
            enabled: true
          },
          plugins: {
            datalabels: {
              formatter: (value, ctx) => {

                let sum = ctx.dataset._meta[0].total;
                let percentage = (value * 100 / sum).toFixed(2) + "%";
                return percentage;


              },
              color: '#fff',
            }
          }
        };

        new Chart(ctxPie, {
          type: 'pie',
          data: {
            labels: ['Posted on time', 'Posted late'],
            datasets: [{
              label: '# of BeeUrselfs posted',
              data: [{{ posted_on_time_count }}, {{ posted_late_count }}],
              borderWidth: 1,
            }]
          },
          options: pieOptions,
        
        });

        var yearDataPerDay = [
        {% for date, value in COUNT_PER_DATE.items() %}
            {date: '{{ date }}', value: '{{ value }}'},
         {% endfor %}
         ];

         function getDataForDate(e) {
          var inputDate = e.date;
          if(typeof(e) == "string") {
            inputDate = e;
          }
            console.log('Date: ' + e.date + ', Count:' + e.count)

            var datePrev = new Date(inputDate); 
            var dateNext = new Date(inputDate); 
            datePrev.setDate(datePrev.getDate() - 1);
            dateNext.setDate(dateNext.getDate() + 1);

            var year = datePrev.getFullYear();
            var month = datePrev.getMonth() + 1;
            var day = datePrev.getDate();
            var datePrevStr = year + "-" + month + "-" + day;

            var year = dateNext.getFullYear();
            var month = dateNext.getMonth() + 1;
            var day = dateNext.getDate();
            var dateNextStr = year + "-" + month + "-" + day;


          $.getJSON('by_date/' + inputDate, function(data) {
            var targetElement = document.getElementById("targetDay")
            var postedThatDayElement = document.getElementById("postedThatDay")


            targetElement.innerHTML = "";
            if (data.length != 0)
            {
                postedThatDay.innerHTML = `These were posted on <strong>${inputDate}</strong>:`
                postedThatDay.innerHTML += `<br>
                <span style="text-align: center; display: flex; flex-columns: 1; justify-content: center;">
                  <button class="btn btn-primary" onclick="getDataForDate('${datePrevStr}');">Previous day</button> 
                  &nbsp; <button class="btn btn-primary" onclick="getDataForDate('${dateNextStr}');"> Next day</button>
                </span>`

                data.forEach(function(post, index) 
                {
                  console.log(post);
                  lateTime = post.late_time ? ` (late by ${post.late_time})` : '';
                
                  targetElement.innerHTML += `
                    <div class="card">
                      <a href="static/${post.photo}" target="_blank"><img class='beeurself' src='static/${post.photo}'></a>
                      <div class='nametag'>
                        ${post.nickdupe} <small>${lateTime}</small>
                      </div>
                    </div>
                `;
                })
            }
            else {
              targetElement.innerHTML = `No posts on ${inputDate} unfortunately. :(`

              postedThatDay.innerHTML = ``
              postedThatDay.innerHTML += `<br>
                <span style="text-align: center; display: flex; flex-columns: 1; justify-content: center;">
                  <button class="btn btn-primary" onclick="getDataForDate('${datePrevStr}');">Previous day</button> 
                  &nbsp; <button class="btn btn-primary" onclick="getDataForDate('${dateNextStr}');"> Next day</button>
                </span>`

            }

        });
         }

    $('#glanceyear-heatmap').glanceyear(yearDataPerDay,{
      eventClick: function(e) {
        getDataForDate(e)
       },
      months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      weeks: ['M','T','W','T','F','S', 'S'],
      targetQuantity: '.glanceyear-quantity',
      tagId: 'glanceyear-svgTag',
      showToday: false,
      today: new Date("2024-01-01")
      });

    
</script>

